@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                @if (!String.IsNullOrEmpty(ViewBag.error))
                {
                    <div class="card-body bg-warning">
                        <span class="text-danger">@ViewBag.error</span>
                    </div>
                }
                <div class="card-body">
                    <form action="/Home/Login" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="email" name="username" required placeholder="ex : mail@mail.com" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password" required  />
                        </div>
                        <input class="btn btn-primary btn-block" type="submit" name="login" value="Login" />
                    </form>
                </div>
                <div class="card-footer">
                    Don't have an account, <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Register">Register Here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
